$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  color: red;
  font-family: 'Slabo 27px', serif;
  font-size: 60;
  margin: 0 auto;
  max-width: 900px;
}

/* .live-area {
  min-width: 50%;
  margin: auto;
} */

.game-field {
  background-color: yellow;
  font-size: 60;
  border: 1px solid;
  float: left;
  width: 200px;
  height: 150px;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.spacer40 {
  height: 40px;
}

#game-board {
  display: none;
  margin: 0 auto;
  min-width: 606px;
  width: 80%;
}

#fourth {
  clear: left;
}

#seventh {
  clear: left;
}

#change-password {
  display: none;
}

#create-game {
  display: none;
}

#get-all-games {
  display: none;
}

#sign-out {
  display: none;
}
