$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  color: red;
  font-family: 'Slabo 27px', serif;
  font-size: 60;
  margin: 0 auto;
  max-width: 900px;
}

/* .live-area {
  min-width: 50%;
  margin: auto;
} */

.game-board {
  width: 80%;
  min-width: 606px;
  margin: 0 auto;
}

.game-field {
  background-color: yellow;
  font-size: 60;
  border: 1px solid;
  float: left;
  width: 200px;
  height: 150px;
}

/* #first {
}

#second {
}

#third {
} */

#fourth {
  clear: left;
}

#seventh {
  clear: left;
}
