$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$red: #b20836;

body,
html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fredoka One', cursive;
}

header {
  background-color: #000;
  background-image: url('/assets/img/tic-tac-toe-bg-a.jpg');
  position: relative;
  height: 66%;
  width: 100%;
  min-height: 400px;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header h1,
header h3 {
  margin-top: 5px;
}

.failureMessage {
  color: #c1263e;
  font-size: 16px;
  margin-bottom: 10px;
}

.successMessage {
  color: #26c1b4;
  font-size: 16px;
  margin-bottom: 10px;
}

.game-field {
  align-items: center;
  background-color: #fff;
  display: flex;
  float: left;
  font-family: 'Fredoka One', cursive;
  font-size: 120px;
  height: 100%;
  justify-content: center;
  width: 32%;
}

.game-board-row {
  display: flex;
  flex-direction: row;
  height: 32%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  // height: 25vh;
}

.game-board-parent {
  display: none; //CHANGE TO NONE BEFORE DEPLOYMENT
  flex-direction: column;
  height: 55vh;
  background: #000;
  margin: 0 auto;
  max-width: 600px;
  max-height: 600px;
  min-height: 480px;
  width: 100%;
  min-width: 320px;
  // background: #000;
  // margin: 0 auto;
  // padding: 0;
  // max-width: 620px;
  // min-width: 320px;
  // width: 100%;
  justify-content: space-between;
  // // height: 25vh;
}

.bg-image-full {
  background: no-repeat center center scroll;
  background-size: cover;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.spacer20 {
  margin-top: 20px;
}

.spacer40 {
  height: 40px;
}

.spacer80 {
  height: 280px;
}

.spacer-variable {
  height: 20vh;
}

.profile-button {
  display: none;
}

.greeting-text {
  display: none;
}

.create-game {
  display: none;
}

.game-hud {
  display: none;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  margin-top: 50px;
  text-align: right;
}

.restart-game {
  display: none;
}

.get-all-games {
  display: none;
}

.sign-out {
  display: none;
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 58px;
  }
}

@media screen and (max-width: 480px) {
  .game-field {
    width: 31%;
  }

  header {
    height: 80%;
    justify-content: flex-start;
  }

  .spacer-variable {
    height: 2vh;
  }
}

@media screen and (max-height: 740px) {
  .game-board-row {
    height: 31.5%;
  }

  .game-hud {
    font-size: 30px;
    margin-top: 20px;
  }
}
